*{
    padding: 0;
    margin: 0; 
}

body{
    font-family: "calibri ligth"
}

.contenedor{
     background: firebrick;
     width:80%;
     margin: auto;
}

header{
    height: 400px;
    background-image: url("../img/conde.jpg");
    background-position: center;
    background-size: cover; 
}

main{
    background: rgb(255, 255, 255);
    padding: 20px 30px;
}

main .foto{
    width: 150px;
    height: 150px;
    background-color: burlywood;
    border-radius: 50%;
    margin: -90px 0 20px 0;
    border: 6px solid #ffffff
}


main .foto img{
    width:150px;
    border-radius: 60%;
}


footer{
    background: firebrick;
    text-align: center;
    padding: 25px;
    color:#000000
}
